@import url("https://cdn.jsdelivr.net/gh/ProjectNoonnu/noonfonts_2104@1.1/fonts/pretendard.css");

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background: #ffd0e1;
}

/* 가로 스크롤 영역 래퍼 */
.horizontal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* 실제 가로 스크롤 영역 */
.horizontal-scroll {
  display: flex; /* 옆으로 나열 */
  width: max-content;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory; /* 섹션 단위로 '딱' 멈추게 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

/* 패널 한 장 */
.panel {
  flex: 0 0 100vw; /* 항상 화면 한 장 크기 */
  width: 1920px;
  margin: 0;
  height: 100%;
  scroll-snap-align: start; /* 화면의 시작점에 딱 맞게 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #000000;
}

/* 데모용 배경색 */
.uxui_page {
}
.promo_page {
}
.visual_design_page {
}
.footer_page {
}
