@import url("https://cdn.jsdelivr.net/gh/ProjectNoonnu/noonfonts_2104@1.1/fonts/pretendard.css");

html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* 세로 기준 사이트라 가로 바는 숨겨두기 */
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background: #ffd0e1;
}

/* 가로 스크롤 영역 래퍼 */
.horizontal-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  /* 항상 한 화면 꽉 채우기 */
  /* 헤더 때문에 살짝 위 여백 */
  /* padding-top: 60px; */
}

/* 실제 가로 스크롤 영역 */
.horizontal-scroll {
  display: flex;
  height: 100vh;
  /* 옆으로 나열 */
  /* height: calc(100vh - 60px); */
  overflow-x: auto;
  /* 가로 스크롤 */
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  /* 섹션 단위로 ‘딱’ 멈추게 */
  scroll-behavior: smooth;
  /* 부드러운 스크롤 */
}

/* 패널 한 장 */
.panel {
  flex: 0 0 100vw;
  /* 항상 화면 한 장 크기 */
  height: 100%;
  scroll-snap-align: start;
  /* 화면의 시작점에 딱 맞게 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #000000;
}

/* 데모용 배경색 */
.uxui_page {}

.promo_page {}

.visual_design_page {}

.footer_page {}