@import url("https://cdn.jsdelivr.net/gh/ProjectNoonnu/noonfonts_2104@1.1/fonts/pretendard.css");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* 세로 기준 사이트라 가로 바는 숨겨두기 */
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background: var(--pink, #ffd0e1);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.fixed-logo {
  position: fixed;
  top: 24px;
  left: 0;
  z-index: 100;
  width: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.horizontal-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  background: #ffd0e1;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: 100%;
}

.panel {
  position: relative;
  min-width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* 필요시 추가 스타일 */
}

.main_page,
.uxui_page,
.promo_page,
.visual_design_page,
.footer_page {
  /* 기존 스타일 유지 */
}

.main_page {
  position: relative;
  background: url(../assets/main.png);
}

.floor-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1920px;
  height: 66%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
}

.main_under_obj {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.inner {
  z-index: 99;
}

.audio-player-fixed {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 2000;
  display: flex;
  align-items: center;
}

.audio-toggle {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_under_obj {
  width: 100%;
  height: auto;
}
.audio-toggle svg {
  display: block;
}

.inner {
  width: 1920px;
  height: 960px;
  overflow: hidden;
}

.sky {
  width: 100%;
  height: 312px;
  display: flex;
}

.main_page > .inner .sky .m_cloud1 {
  border: 2px solid red;
  position: absolute;
  top: 50px;
  left: 140px;
  width: 160px;
}

.main_page > .inner .sky .m_cloud2 {
  border: 2px solid red;
  position: absolute;
  top: 50px;
  left: 1478px;
  width: 92px;
}

.main_page > .inner .sky .m_cloud3 {
  border: 2px solid red;
  position: absolute;
  top: 50px;
  left: 1654px;
  width: 144px;
}

.main_page > .inner .sky .sky_bird {
  border: 2px solid red;
  position: absolute;
  top: 50px;
  left: 140px;
  width: 146px;
}
