@charset "utf-8";


@media (min-height: 1050px) {
  .bottom {
    width: 100%;
    height: 704px;
  }

  .main_page .top {
    position: absolute;
    left: 0;
    bottom: 640px;
  }

  .uxui_page .top {
    position: absolute;
    left: 0;
    bottom: 617px;
  }

  .promo_page .top {
    position: absolute;
    left: 0;
    bottom: 616px;
  }

  .visual_design_page .top {
    position: absolute;
    left: 0;
    bottom: 589px;
  }

  .footer_page .top {
    position: absolute;
    left: 0;
    bottom: 579px;
  }

  .main_page .long_tree {
    top: 134px;
    left: 130px;
  }

  .main_page .s_leaf {
    top: 320px;
    left: 320px;
  }

  .main_page .wood {
    top: 520px;
    left: 420px;
  }

  .main_page .rabbit {
    top: 340px;
    left: 260px;
  }

  .main_page .watering_can {
    top: 700px;
    right: 700px;
  }

  .main_page .dotory_tree_a {
    top: 420px;
    right: 320px;
  }

  .main_page .snall_leaf {
    top: 420px;
    right: 600px;
  }

  .main_page .tree_y {
    bottom: 0;
    left: 200px;
  }

  .main_page .big_leaf {
    bottom: 0;
    right: 200px;
  }

  .main_page .f_tulip_p_a {
    top: 740px;
    left: 120px;
  }

  .main_page .F_tulip_p_b {
    top: 900px;
    right: 600px;
  }

  .main_page .f_gen_p {
    top: 360px;
    left: 500px;
  }

  .main_page .f_gen_y_b {
    top: 340px;
    right: 300px;
  }

  .uxui_page>.uxuiobj .r_long_tree {
    position: absolute;
    top: 140px;
    left: 120px;
  }

  .uxui_page>.uxuiobj .regular_tree {
    position: absolute;
    top: 240px;
    left: 540px;
  }

  .uxui_page>.uxuiobj .apple_b {
    position: absolute;
    top: 500px;
    left: 124px;
  }

  .uxui_page>.uxuiobj .apple_a {
    position: absolute;
    top: 410px;
    left: 850px;
  }

  .uxui_page>.uxuiobj .std_drg_web {
    position: absolute;
    top: 240px;
    left: 240px;
  }

  .uxui_page>.uxuiobj .gwm_web {
    position: absolute;
    top: 280px;
    right: 400px;
  }

  .promo_page>.promoobj .F_gen_y {
    position: absolute;
    top: 320px;
    left: 540px;
  }

  .promo_page>.promoobj .samsung_promo {
    position: absolute;
    top: 420px;
    left: 270px;
  }

  .promo_page>.promoobj .triangle_tree {
    position: absolute;
    top: 180px;
    right: 540px;
  }

  .promo_page>.promoobj .F_tulip_y {
    position: absolute;
    top: 520px;
    right: 580px;
  }

  .promo_page>.promoobj .vfun_login {
    position: absolute;
    top: 55%;
    left: 840px;
  }

  .promo_page>.promoobj .lg_plal {
    position: absolute;
    top: 290px;
    right: 164px;
  }

  .promo_page>.promoobj .apple_3-b {
    position: absolute;
    top: 490px;
    right: 140px;
  }

  .promo_page>.promoobj .bertterfly_b {
    position: absolute;
    top: 380px;
    right: 800px;
  }

  .visual_design_page .bniobj .f_tulip_p_a {
    position: absolute;
    top: 380px;
    left: 210px;
  }

  .visual_design_page .bniobj .illust {
    position: absolute;
    top: 520px;
    right: 244px;
  }

  .visual_design_page .bniobj .apple_4-b {
    position: absolute;
    top: 460px;
    right: 632px;
  }

  .visual_design_page .bniobj .f_gen_p_leaf {
    position: absolute;
    top: 372px;
    right: 350px;
  }

  .footer_page .footerobj .f_gen_p_Footer {
    position: absolute;
    top: 370px;
    left: 460px;
  }

  .footer_page .footerobj .f_tulip_p_Footer {
    position: absolute;
    top: 354px;
    right: 680px;
  }

  .footer_page .footerobj .dotory_tree_b {
    position: absolute;
    top: 260px;
    right: 430px;
  }

  .footer_page .footerobj .bertterfly_y {
    position: absolute;
    top: 400px;
    left: 600px;
  }

  .my-cha_footer {
    position: absolute;
    top: 510px;
    left: 160px;
  }
}